<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <h1>Quora post</h1>
    <form  method="post" action="/posts">
         <!-- <input type="text" placeholder="enter id" name="id" > <br>  -->
        <input type="text" placeholder="enter name" name="name" > <br>
        <input type="text" placeholder="enter the content" name="postContent"> <br>
        <input type="text" placeholder="enter like count" name="likes"> <br>
        <button>submit</button>
    </form>
    
</body>
</html>